.header-image {
    background-size: cover;
    min-height: 40vh;
    position: relative;
    color: white;
    
}

h1 {
    font-size: 8rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
}
h2 {
    font-size: 6rem;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0, .2);
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}
p {
    font-family: 'Times New Roman', Times, serif;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
body {
    background-color:#f0fff0;
}

.card {
    background-color: rgba(255, 255, 255, 10);
}

footer {
    background-color: lightgray;
}

.custom-btn {
  width: 200px; /* Specifica la larghezza desiderata per il tasto */
}

.table tbody tr {
    height: 50px; /* Imposta l'altezza desiderata per le righe */
  }

@media (max-width: 768px) {
    .header-image {
        min-height: 30vh;
    }
    h1 {
        font-size: calc(1.525rem + 3.3vw);
    }
    h2 {
        font-size: calc(1.425rem + 2.5vw);
    }
    h3 {
        font-size: calc(0.75rem + 1.5vw);
    }
    .card {
        min-height: 15vh;
    }
    .dropstart{
        min-height: 2vh;
    }
    p{
        font-size: smaller;
    }
}